# Passbolt Helm chart

<h3 align="center">
    <img src="./.assets/helm_passbolt.png" alt="passbolt sails kubernetes" width="500"/>
</h3>

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

Passbolt is an open source, security first password manager with strong focus on
collaboration.

