name: Push & PR to the main branch

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: ./.github/actions/setup_helm

      - name: Run linter
        run: bash run_tests.sh --lint

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: ./.github/actions/setup_helm

      - name: Install Helm unit test plugin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git --version 0.7.0

      - name: Run unit tests
        run: bash run_tests.sh --unit

  integration-tests-mariadb:
    name: Integration Tests Mariadb
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration tests
        run: bash run_tests.sh --integration

  integration-tests-mariadb-rootless:
    name: Integration Tests Mariadb
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration tests
        run: ROOTLESS=true bash run_tests.sh --integration

  integration-tests-postgresql:
    name: Integration Tests Postgresql
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration tests
        run: bash run_tests.sh --integration -d postgresql

  integration-tests-postgresql-rootless:
    name: Integration Tests Postgresql
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration tests
        run: ROOTLESS=true bash run_tests.sh --integration -d postgresql
